<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--spring.NET-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<!--spring.NETの設定-->
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <!--オブジェクトの依存設定-->
    <objects xmlns="http://www.springframework.net">
    <!--SDK関連-->
      <object id="DocumentSDKComponent" type="DocumentSDKComponent.DocumentSDKComponent, DocumentSDKComponent" lazy-init="true"/>
      <object id="JocrSDKComponent" type="JocrSDKComponent.JocrSDKComponent, JocrSDKComponent" lazy-init="true" />
      <object id="HocrSDKComponent" type="HocrSDKComponent.HocrSDKComponent, HocrSDKComponent" lazy-init="true" />
      <object id="FormSDKComponent" type="FormSDKComponent.FormSDKComponent, FormSDKComponent" lazy-init="true" />
      <object id="DoOcrSDKComponent" type="DoOcrSDKComponent.DoOcrSDKComponent, DoOcrSDKComponent" lazy-init="true" />
    </objects>
  </spring>
  <appSettings>
    <!--DB接続文字列-->
    <add key="ConnectionString" value="Server=10.247.3.223;Port=5432;Database=denshow;User Id=postgres;Password=postgres"/>
    <!--DB接続スキーマ名-->
    <add key="ConnectionSchema" value="public_it_x"/>
    <!--シーケンスフォルダー-->
    <add key="SequenceRootFolder" value="D:\DenshowFolder\output\sequence\"/>
    <!--複数イメージ分割時の解像度-->
    <add key="ImageResolution" value="200"/>
    <!--二値化しきい値-->
    <add key="BinalizationThreshold" value="100"/>

    <!--手書きOCRパターン辞書パス-->
    <add key="HocrPatternDictPath" value="D:\Projects\伝匠\03.Bin\01.DocumentSDK\DATA\HOCR\dict\pattern.dic"/>
    <!--活字OCR半角パターン辞書パス-->
    <add key="JocrHankakuDictPath" value="D:\Projects\伝匠\03.Bin\01.DocumentSDK\DATA\JOCR\dict\Hankaku\"/>
    <!--活字OCR言語辞書パス-->
    <add key="JocrLangDictPath" value="D:\Projects\伝匠\03.Bin\01.DocumentSDK\DATA\JOCR\dict\LangBase\"/>
    <!--活字OCRパターン辞書パス-->
    <add key="JocrPatternDictPath" value="D:\Projects\伝匠\03.Bin\01.DocumentSDK\DATA\JOCR\dict\PatBase\"/>
    <!--活字OCR記号パターン辞書パス-->
    <add key="JocrSynbolDictPath" value="D:\Projects\伝匠\03.Bin\01.DocumentSDK\DATA\JOCR\dict\Symbol\"/>
  </appSettings>
</configuration>
